.order-list-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  .search-product-wrapper {
    height: 84px;
  }
  .order-list-tabs-wrapper {
    overflow: hidden;
    flex: 1;
    background: #f5f5f5;
    .tabs-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .order-list {
      overflow: hidden;
      box-sizing: border-box;
      height: 1034px;
      padding: 30px 20px 0;
    }
  }
}
