.image-preload-wrapper {
  .image-preload {
    position: relative;
    background: #ccc;
    border-radius: 14px;
    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      color: #e6e6e6;
      font-size: 58px;
      font-weight: bold;
      transform: translate(-50%, -50%);
      &.loading-icon {
        animation: loading-move 2s linear infinite;
      }
    }
  }
  .image {
    width: 100%;
  }
  @keyframes loading-move {
    from {
      transform: translate(-50%, -50%) rotate(0);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}
