.search-page-wrapper {
  padding: 20px 0;
  .search-history-record {
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    .search-history-record-title {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;
    }
    .search-history-record-item {
      margin: 10px;
    }
  }
}
