.featured-wrapper {
  padding-top: 54px;
  .featured-title {
    overflow: hidden;
    width: 330px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 36px;
    color: #333333;
    margin: 0 auto;
  }
  &::after {
    content: "";
    width: 60px;
    height: 2px;
    background: #cccccc;
  }
  &::before {
    content: "";
    width: 60px;
    height: 2px;
    background: #cccccc;
  }
  .featured-product-item {
    padding: 34px 0;
    width: 690px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d7d7d7;
    margin: 0 auto;
  }
  &:last-child {
    border: none;
  }
  .logo {
    width: 214px;
    height: 214px;
    border-radius: 14px;
    margin-right: 34px;
  }
  .featured-product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .prodcut-name {
    font-size: 32px;
    color: #333;
  }
  .product-introduction {
    font-size: 26px;
    color: #666;
    line-height: 38px;
    margin: 14px 0 22px;
  }
  .product-amount-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .product-amount {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .amount-label {
    font-size: 26px;
    color: #999;
  }
  .amount {
    color: #e93b3d;
    font-size: 38px;
    margin-left: 14px;
  }
}
