.banner-wapper {
  position: relative;
  width: 100%;
  background: #ccc;
  .video-wrapper {
    width: 100%;
    height: auto;
  }
  .video {
    width: 100%;
  }
  .module-switch {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.button {
    margin-left: 10px;
  }
